.listing-modal {
  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .display-name {
      font-size: 1.5rem;
      font-weight: 900;
      margin-top: 1rem;
    }

    .summary {
      font-size: 1.25rem;
      margin-bottom: 2rem;
    }
  }

  .title {
    font-weight: 900;
    margin-top: 1.25rem;
  }

  .detail-group {
    padding: 1rem 2rem;

    &.greyed {
      background-color: $grey-2;
    }
  }
}
