.navbar {
  background-color: $secondary;
  overflow: hidden;
  border: none;
}

.navbar-default .navbar-brand {
  color: $grey-2;

  &:hover {
    color: $grey-2;
  }
}

.nav {
  li {
    margin: 0.5rem 0.25rem;
    a {
      padding: 0;
      border-radius: 99rem;
    }
  }
}

.nav-button {
  border: none;
  background-color: $tertiary;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 99rem;
  outline: none;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.8rem;

  &:hover {
    background-color: lighten($tertiary, 10%);
    transition: background-color 0.15s;
  }
}

.nav-active .nav-button {
  background-color: lighten($tertiary, 10%);
}

ul.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
