@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
.navbar {
  background-color: #152843;
  overflow: hidden; }

.navbar-default .navbar-brand {
  color: #F6F7F8; }

.navbar-default .navbar-brand:hover {
  color: #F6F7F8; }

.nav-link {
  padding: 0 !important; }

.nav-button {
  border: none;
  background-color: #2f4b6f;
  color: white;
  height: 3.25rem;
  padding: 0 2.5rem;
  outline: none;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.9rem; }

.nav-button:hover {
  background-color: #3f6492;
  transition: background-color 0.15s; }

ul.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.profile .user-info,
.profile .user-detail {
  background-color: white;
  border: 1px solid #E4E8EC;
  padding: 2em;
  border-radius: 2px;
  margin-bottom: 1em; }

.profile .user-info .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.profile .user-info .header .edit-btn {
  width: 10em; }

.profile .user-info .header .picture-name {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; }

.profile .user-info .header .picture-name .user-personal-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.profile .user-info .header .picture-name .user-personal-info .input-field {
  min-width: 20em; }

.profile .user-info .header .picture-name h1 {
  margin: 0 0 0.25em; }

.profile .user-info .header .picture-name img {
  margin-right: 2em;
  width: 100px;
  height: 100px;
  border-radius: 2px; }

.profile .user-info .header .fileInput {
  margin: 1em 0; }

.profile .user-detail .info-presentation .control-label + p {
  margin-bottom: 2em; }

.profile .user-detail .your-info {
  margin-bottom: 2em; }

.profile .user-detail .form-group {
  margin-bottom: 2em; }

.profile .danger-zone {
  margin-bottom: 4em; }

.login hr {
  border-color: #bdc4cb; }

.login .button-group button {
  margin-bottom: 1rem; }

.login h1 {
  margin: 0;
  padding: 1rem;
  color: #FAFAFA;
  background-color: #152843;
  margin-bottom: 1rem;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
  margin-top: -2.5rem;
  padding-left: 2.5rem; }

.placeholder {
  color: #aeaeae; }

.spinner {
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  position: relative;
  top: 0.1rem; }

.spinner-container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center; }

@keyframes spinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.form-control {
  padding: 1.5rem 0.8rem;
  font-size: 1rem;
  border: 1px solid #E4E8EC;
  border-radius: 2px; }

textarea.form-control {
  padding: 0.5rem 0.8rem; }

.listing .request-body {
  padding: 0 1rem; }

.listing .request-action-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 2rem 0 0 0; }

.listing .request-action {
  min-width: 10rem;
  margin-left: 0.5rem; }

.listing .listing-avatar {
  border-radius: 2px;
  width: 5rem;
  height: 5rem; }

.listing .requester {
  font-weight: 900;
  font-size: 1.5rem; }

.listing .listing-summary {
  font-size: 1.25rem; }

.listing .title {
  font-weight: 900;
  margin-top: 1.25rem; }

.listing .fullfilled-request {
  display: inline-block;
  padding: 0.25rem 0.8rem;
  background-color: #00C39A;
  color: white;
  border-radius: 2px;
  margin: 0.25rem 0; }

@media (max-width: 770px) {
  .listing .request-action-group {
    padding: 0 1rem; }
  .listing .request-action {
    width: 33.3%; } }

.listing-modal .user-info {
  display: flex;
  flex-direction: column;
  align-items: center; }

.listing-modal .user-info .display-name {
  font-size: 1.5rem;
  font-weight: 900;
  margin-top: 1rem; }

.listing-modal .user-info .summary {
  font-size: 1.25rem;
  margin-bottom: 2rem; }

.listing-modal .title {
  font-weight: 900;
  margin-top: 1.25rem; }

.listing-modal .detail-group {
  padding: 1rem 2rem; }

.listing-modal .detail-group.greyed {
  background-color: #F6F7F8; }

.new-listing {
  background-color: white;
  border: 1px solid #E4E8EC;
  border-radius: 2px;
  padding: 3rem;
  margin-bottom: 4rem; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  background-color: #F6F7F8;
  font-size: 16px; }

.avatar {
  border-radius: 2px;
  width: 5rem;
  height: 5rem; }

.listings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; }

.date-picker {
  margin-bottom: 2rem; }

.new-request {
  margin: .25em;
  align-self: flex-end;
  width: 15%; }

.image-upload-submit-button {
  min-width: 10em; }
