@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
@import './styles/variables';
@import './styles/colors';
@import './styles/nav';
@import './styles/profile';
@import './styles/login';
@import './styles/placeholder';
@import './styles/spinner';
@import './styles/form';
@import './styles/listing';
@import './styles/listingModal';
@import './styles/newListing';

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  background-color: $grey-2;
  font-size: 16px;
}

.spinner-position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home {
  background: linear-gradient( rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55) ), url('https://user-images.githubusercontent.com/6455018/27762439-55f1348e-5e40-11e7-9f31-c74e7c792b8d.jpg') center center no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: -2rem;

  .main {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

    .home-logo {
      width: 3.5rem;
    }

    p {
      margin-bottom: 2rem;
    }

    h1 {
      font-size: 5rem;
      margin-bottom: 1.25rem;
    }
  }

}

.supporting {
  background-color: $secondary;
  padding: 2rem 0;

  .section {
    color: $grey-3;
    max-width: 50rem;
    margin: 4rem auto;
    display: flex;
    align-items: center;

    h2 {
      line-height: 2.75rem;
    }

    .glyph {
      font-size: 2.5rem;
      margin-right: 2rem;
      color: $primary;
    }
  }
}

.cta {
  background-color: darken($secondary, 10%);
  padding: 4rem 0;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;

  h2 {
    margin-bottom: 2rem;
  }
}

.avatar {
  border-radius: $borderRadius;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.listings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.date-picker {
  margin-bottom: 2rem;
}

.new-request {
  margin: .25em;
  align-self: flex-end;
  width: 15%;
}

.image-upload-submit-button {
  min-width: 10em;
}
