@import url("https://fonts.googleapis.com/css?family=Lato:400,900");
.navbar {
  background-color: #152843;
  overflow: hidden;
  border: none; }

.navbar-default .navbar-brand {
  color: #F6F7F8; }
  .navbar-default .navbar-brand:hover {
    color: #F6F7F8; }

.nav li {
  margin: 0.5rem 0.25rem; }
  .nav li a {
    padding: 0;
    border-radius: 99rem; }

.nav-button {
  border: none;
  background-color: #2f4b6f;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 99rem;
  outline: none;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.8rem; }
  .nav-button:hover {
    background-color: #3f6492;
    transition: background-color 0.15s; }

ul.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.profile .user-info,
.profile .user-detail {
  background-color: white;
  border: 1px solid #E4E8EC;
  padding: 2em;
  border-radius: 2px;
  margin-bottom: 1em; }

.profile .user-info .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .profile .user-info .header .edit-btn {
    width: 10em; }
  .profile .user-info .header .picture-name {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; }
    .profile .user-info .header .picture-name .user-personal-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      .profile .user-info .header .picture-name .user-personal-info .input-field {
        min-width: 20em; }
    .profile .user-info .header .picture-name h1 {
      margin: 0 0 0.25em; }
    .profile .user-info .header .picture-name .avatar {
      margin-right: 2em; }
  .profile .user-info .header .fileInput {
    margin: 1em 0; }

.profile .user-detail .info-presentation .control-label + p {
  margin-bottom: 2em; }

.profile .user-detail .your-info {
  margin-bottom: 2em; }

.profile .user-detail .form-group {
  margin-bottom: 2em; }

.profile .danger-zone {
  margin-bottom: 4em; }

.login hr {
  border-color: #bdc4cb; }

.login .button-group button {
  margin-bottom: 1rem; }

.login h1 {
  margin: 0;
  padding: 1rem;
  color: #FAFAFA;
  background-color: #152843;
  margin-bottom: 1rem;
  margin-left: -2.5rem;
  margin-right: -2.5rem;
  margin-top: -2.5rem;
  padding-left: 2.5rem; }

.placeholder {
  color: #aeaeae; }

.spinner {
  animation-name: spinner;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  position: relative;
  top: 0.1rem; }

.spinner-container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center; }

@keyframes spinner {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.form-control {
  padding: 1.5rem 0.8rem;
  font-size: 1rem;
  border: 1px solid #E4E8EC;
  border-radius: 2px; }

textarea.form-control {
  padding: 0.5rem 0.8rem; }

.request-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #888;
  margin-top: 15vh; }
  .request-placeholder h3 {
    margin-bottom: 2rem; }
  .request-placeholder .glyph {
    font-size: 4rem; }

.listing .request-body {
  padding: 0 1rem; }

.listing .request-action-group {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 2rem 0 0 0; }

.listing .request-action {
  min-width: 10rem;
  margin-left: 0.5rem; }

.listing .listing-avatar {
  border-radius: 2px;
  width: 5rem;
  height: 5rem;
  overflow: hidden; }
  .listing .listing-avatar img {
    width: 100%; }

.listing .requester {
  font-weight: 900;
  font-size: 1.5rem; }

.listing .listing-summary {
  font-size: 1.25rem; }

.listing .title {
  font-weight: 900;
  margin-top: 1.25rem; }
  .listing .title .glyph {
    margin-right: 0.25rem; }

.listing .fullfilled-request {
  display: inline-block;
  padding: 0.25rem 0.8rem;
  background-color: #00C39A;
  color: white;
  border-radius: 2px;
  margin: 0.25rem 0; }

@media (max-width: 770px) {
  .listing .request-action-group {
    padding: 0 1rem; }
  .listing .request-action {
    width: 33.3%; } }

.listing-modal .user-info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .listing-modal .user-info .display-name {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 1rem; }
  .listing-modal .user-info .summary {
    font-size: 1.25rem;
    margin-bottom: 2rem; }

.listing-modal .title {
  font-weight: 900;
  margin-top: 1.25rem; }

.listing-modal .detail-group {
  padding: 1rem 2rem; }
  .listing-modal .detail-group.greyed {
    background-color: #F6F7F8; }

.new-listing {
  background-color: white;
  border: 1px solid #E4E8EC;
  border-radius: 2px;
  padding: 3rem;
  margin-bottom: 4rem; }

html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
  background-color: #F6F7F8;
  font-size: 16px; }

.spinner-position {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; }

.home {
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url("https://user-images.githubusercontent.com/6455018/27762439-55f1348e-5e40-11e7-9f31-c74e7c792b8d.jpg") center center no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: -2rem; }
  .home .main {
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; }
    .home .main .home-logo {
      width: 3.5rem; }
    .home .main p {
      margin-bottom: 2rem; }
    .home .main h1 {
      font-size: 5rem;
      margin-bottom: 1.25rem; }

.supporting {
  background-color: #152843;
  padding: 2rem 0; }
  .supporting .section {
    color: #E4E8EC;
    max-width: 50rem;
    margin: 4rem auto;
    display: flex;
    align-items: center; }
    .supporting .section h2 {
      line-height: 2.75rem; }
    .supporting .section .glyph {
      font-size: 2.5rem;
      margin-right: 2rem;
      color: #1CA5F2; }

.cta {
  background-color: #09111c;
  padding: 4rem 0;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white; }
  .cta h2 {
    margin-bottom: 2rem; }

.avatar {
  border-radius: 2px;
  width: 5rem;
  height: 5rem;
  overflow: hidden; }
  .avatar img {
    width: 100%; }

.listings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem; }

.date-picker {
  margin-bottom: 2rem; }

.new-request {
  margin: .25em;
  align-self: flex-end;
  width: 15%; }

.image-upload-submit-button {
  min-width: 10em; }
